{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_base" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}

    <a href="{{ path('base_upload') }}" class="btn btn-primary" role="button">Ajout d'une base</a>
    <hr/>
    {% if listBases %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr class="alert-danger">
                    <th>{{ "name_base" | trans({}, 'SonataUserBundle')}}</th>
                    <th>{{ "number_line" | trans({}, 'SonataUserBundle')}}</th>
                    <th>{{ "modificated_at" | trans({}, 'SonataUserBundle')}}</th>
                    <th>{{ "action" | trans({}, 'SonataUserBundle')}}</th>
                </tr>
                {% for base in listBases %}
                    <tr>
                        <td>{{ base.title }}</td>
                        <td>{{ base.rowCount }}</td>
                        <td>{{ base.updated_at | date("d/m/Y à H\\hi") }}</td>
                        <td>
                            <a href="{{ path('base_details', { 'id': base.id }) }}" data-toggle="tooltip" data-placement="bottom" title="Detail de la base">
                                <span class="glyphicon glyphicon-search" aria-hidden="true" style="color:dodgerblue; margin: 5px"></span>
                            </a>
                            <a href="{{ path('base_update', { 'id': base.id }) }}" data-toggle="tooltip" data-placement="bottom" title="Modifier la base">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true" style="color:green; margin: 5px"></span>
                            </a>
                            <a onClick="$('#myModal{{ base.id }}').modal()" href="#myModal{{ base.id }}" data-toggle="tooltip" data-placement="bottom" title="Supprimer la base">
                                <span class="glyphicon glyphicon-remove danger" aria-hidden="true" style="color:red; margin: 5px"></span>
                            </a>
                        </td>
                    </tr>

                    <div class="modal fade" style="display:none" id="myModal{{ base.id }}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">ATTENTION!</h4>
                                </div>
                                <div class="modal-body">
                                    Vous êtes sur le point de supprimer la base <b>{{ base.title }}</b>, êtes-vous sur de vouloir effectuer cette opération?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <a type="button" class="btn btn-primary" href="{{ path('base_remove', { 'id': base.id }) }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>{{ "base_not_found" | trans({}, 'SonataUserBundle')}}</p>
    {% endif %}
{% endblock %}

