{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_base" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}

    {% if listMatch %}
            {% for match in listMatch %}

                <div class="panel panel-md5">

                    <div class="panel-heading">
                        <h1 class="panel-title"><b>{{ match.campaign }}</b></h1>
                    </div>
                    <div class="panel-body">

                    <div class="row row-fluid">
                        <div class="span6 col-lg-6">
                            <p><b>Nom de la campagne:</b> {{ match.campaign }}</p>
                            <p><b>Description:</b> {{ match.campaign.description }}</p>
                            <p><b>Crée le:</b> {{ match.campaign.createdAt | date("d/m/Y à H\\hi")}}</p>
                            <p><b>Modifié le:</b> {{ match.campaign.modificatedAt | date("d/m/Y à H\\hi")}}</p>

                            <p><b>Thématique:</b> {{ match.campaign.theme }}</p>
                            <p><b>Type de rémuneration:</b> {{ match.campaign.remunerationType }}</p>
                            <p><b>Montant de la rémuneration:</b> {{ match.campaign.remunerationAmount }}</p>
                            <p><b>Phrase objet:</b> {{ match.campaign.objectSentence }}</p>
                            <p><b>Expéditeur:</b> {{ match.campaign.sender }}</p>
                            <p><b>Date de début:</b> {{ match.campaign.beginDate | date("d/m/Y à H\\hi")}}</p>
                            <p><b>Date de fin:</b> {{ match.campaign.endDate | date("d/m/Y à H\\hi")}}</p>
                        </div>
                        <div class="span6 col-lg-6">
                            <img src="{{ asset('uploads/documents/' ~ match.campaign.path) }}" style="width: 40%" alt="" class="pull-right"/>
                        </div>
                    </div>

                        {% if match.match %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tr class="alert-danger">
                                        <th>Base</th>
                                        <th>Volume matché</th>
                                        <th>Modifié le</th>
                                        <th>Postuler</th>
                                    </tr>
                                    {% for t in match.match %}
                                        <tr>
                                            <td>{{ t.title }}</td>
                                            <td>{{ t.nb_match }}</td>
                                            <td>{{ t.date_maj | date("d/m/Y à H\\hi")}}</td>
                                            <td>
                                                <a href="{{ path('match_populate', { 'base': t.title, 'campaign': match.campaign}) }}">
                                                    Postuler
                                                    <span class="glyphicon glyphicon-send" aria-hidden="true" style="color:dodgerblue; margin: 5px"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% else %}
                            <p>Matching avec la campagne encore non effectué. Veuillez patienter.</p>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
    {% else %}
        <p>{{ "base_not_found" | trans({}, 'SonataUserBundle')}}</p>
    {% endif %}
{% endblock %}