{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_match" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}

    {% if listMatch %}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {% for match in listMatch %}

                <div class="panel pannelHead panel-md5-light">

                    <div class="panel-heading" role="tab" id="heading{{ match.campaign }}">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ match.campaign.id }}" aria-expanded="false" aria-controls="collapse{{ match.campaign }}">
                            <h4 class="panel-title">
                                    {{ match.campaign }}
                                    <span class="accordion-glyph glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
                            </h4>
                        </a>
                    </div>


                    <div id="collapse{{ match.campaign.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ match.campaign }}">
                        <div class="panel-body">
                            <div class="row row-fluid">
                                <div class="col-md-6">

                                    {% if match.campaign.description %}
                                        <p>
                                            <b>
                                                {{ "description" | trans({}, 'SonataUserBundle')}}:
                                            </b>
                                            {{ match.campaign.description }}
                                        </p>
                                    {% endif %}

                                    <p>
                                        <b>{{ "theme" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.theme }}
                                    </p>

                                    <br/>

                                    <p>
                                        <b>{{ "begin_date" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.begin_date | date("d/m/Y à H\\hi")}}
                                    </p>
                                    <p>
                                        <b>{{ "end_date" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.end_date | date("d/m/Y à H\\hi")}}
                                    </p>

                                    <br/>

                                    <p>
                                        <b>{{ "remuneration_type" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.remunerationType }}
                                    </p>
                                    {% if match.campaign.remunerationAmount %}
                                        <p>
                                            <b>{{ "remuneration_amount" | trans({}, 'SonataUserBundle')}}:</b>
                                            {{ match.campaign.remunerationAmount }}
                                        </p>
                                    {% endif %}

                                    <p>
                                        <b>{{ "object_sentence" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.objectSentence }}
                                    </p>
                                    <p>
                                        <b>{{ "sender" | trans({}, 'SonataUserBundle')}}:</b>
                                        {{ match.campaign.sender }}
                                    </p>

                                </div>
                                <div class="col-md-6">
                                    {% if match.campaign.path %}
                                        <a href="{{ asset('upload/' ~ match.campaign.path) }}" target="_blank">
                                            <img src="{{ asset('upload/' ~ match.campaign.path) }}" style="width: 50%" alt="" class="pull-right"/>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            {% if match.match %}
                                <div class="table-responsive" style="margin-top: 15px">
                                    <table class="table table-bordered table-striped">
                                        <tr class="alert-danger">
                                            <th>{{ "title_base" | trans({}, 'SonataUserBundle')}}</th>
                                            <th>{{ "match_amount" | trans({}, 'SonataUserBundle')}}</th>
                                            <th>{{ "modificated_at" | trans({}, 'SonataUserBundle')}}</th>
                                            <th>{{ "postulate" | trans({}, 'SonataUserBundle')}}</th>
                                        </tr>
                                        {% for t in match.match %}
                                            <tr>
                                                <td>{{ t.title }}</td>
                                                <td>{{ t.match_count }}</td>
                                                <td>{{ t.updated_at | date("d/m/Y à H\\hi")}}</td>
                                                <td>
                                                    <a href="{{ path('match_postulate', { 'base': t.title, 'campaign': match.campaign, 'matchId': t.id}) }}">
                                                        {{ "postulate" | trans({}, 'SonataUserBundle')}}
                                                        <span class="glyphicon glyphicon-send" aria-hidden="true" style="color:dodgerblue; margin: 5px"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% else %}
                                <hr/>
                                <h4>
                                    {{ "match_not_done" | trans({}, 'SonataUserBundle')}}
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="margin-left: 5px"></span>
                                </h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{{ "campaign_not_found" | trans({}, 'SonataUserBundle')}}</p>
    {% endif %}
{% endblock %}