{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h2 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
            </div>
            <div class="panel-body">

                {% if form_errors(form) %}
                    <div class="alert alert-danger alert-error">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="form-group">
                        {% if form_errors(form.company) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.company) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.company) }}
                        {{ form_widget(form.company) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.legalSituation) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.legalSituation) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.legalSituation) }}
                        {{ form_widget(form.legalSituation) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.lastname) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.lastname) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.firstname) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.firstname) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.email) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.email) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.phoneNumber) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.phoneNumber) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.phoneNumber) }}
                        {{ form_widget(form.phoneNumber) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.activityType) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.activityType) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.activityType) }}
                        {{ form_widget(form.activityType) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.url) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.url) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.url) }}
                        {{ form_widget(form.url) }}
                    </div>

                    <hr/>

                    <div class="form-group">
                        {% if form_errors(form.username) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.username) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.plainPassword.first) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {% if form_errors(form.plainPassword.second) %}
                            <div class="alert alert-danger alert-error">
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                    {{ form_rest(form) }}
                    <hr/>
                    <div class="form-group">
                        <p>
                            <b>
                                J'ai lu et j'accepte les conditions générales d'affiliation
                            </b>
                        </p>
                        <br/>
                        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
            </div>
        </div>
        </div>
    <div class="col-md-2"></div>
</div>