<td>
    <a href="{{ upload_path }}/{{ asset(object.getPath) }}">
        <img src="{{ upload_path }}/{{ asset(object.getPath) }}" title="{{ object.getTitle }}"  style="height: 100px;"/>
    </a>
</td>