{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>

    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@AppBundle/Resources/public/js/jquery-1.11.3.min.js'
    '@AppBundle/Resources/public/js/sonata_admin_js.js'
    '@AppBundle/Resources/public/js/sonata_front_js.js'
    '@AppBundle/Resources/public/js/sonata_jqueryui_js.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/accordion.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <div class="space_main_header_before"></div>
    <div class="row-fluid main_header">
        <div style="margin: auto; width:90%">
            <a href="../profile">
                <img src="{{ asset('img/rtarget_logo_white.png') }}" alt="Logo MD5 R-target"/>
            </a>
            <h2>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}title_dashboard{% endtrans %}{% endblock %}</h2>
        </div>
    </div>
    <div class="space_main_header_after"></div>

    <div style="margin: auto; width:90%">

    {% block sonata_page_breadcrumb %}
        {% if breadcrumb_context is not defined %}
            {% set breadcrumb_context = 'user_index' %}
        {% endif %}
        <div class="row-fluid clearfix">
            {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
        </div>
    {% endblock %}

    <div class="sonata-user-show row row-fluid">

        <div class="span2 col-lg-2">
            {% block sonata_profile_menu %}
                {{ sonata_block_render({'type': 'sonata.block.service.menu'}, {'current_uri': app.request.requestUri}) }}
            {% endblock %}
        </div>

        <div class="span10 col-lg-10">
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

            {% block sonata_profile_content '' %}
        </div>

    </div>
    </div>
</body>
</html>