{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-md5-dark">
        <div class="panel-heading">
            <h2 class="panel-title"><b>{{ settings.title }}</b></h2>
        </div>
        <div class="panel-body" style="padding: 20px">
            {% if info %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr class="alert-danger">
                            <th>Campagne</th>
                            <th>Base</th>
                            <th>Nombres match</th>
                            <th>Postuler</th>
                        </tr>
                        {% for tmp in info %}
                            <tr>
                                <td>{{ tmp.campaign }}</td>
                                <td>{{ tmp.title }}</td>
                                <td>{{ tmp.match_count }}</td>
                                {% if tmp.state %}
                                    <td>
                                        <a href="{{ path('match_download', { 'matchId': tmp.id }) }}">
                                            {{ "download" | trans({}, 'SonataUserBundle')}}
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="color:dodgerblue; margin: 5px"></span>
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{{ path('match_postulate', { 'base': tmp.title, 'campaign': tmp.campaign, 'matchId': tmp.id}) }}">
                                            {{ "postulate" | trans({}, 'SonataUserBundle')}}
                                            <span class="glyphicon glyphicon-send" aria-hidden="true" style="color:dodgerblue; margin: 5px"></span>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p>Aucun matching encore effectué.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}