{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-md5-dark">
        <div class="panel-heading">
            <h2 class="panel-title"><b>{{ settings.title }}</b></h2>
        </div>
        <div class="panel-body" style="padding: 20px">
            <p><b>{{ "info_nb_base" | trans({}, 'SonataUserBundle')}}:&nbsp;</b><span style="color:red;">{{ info['count_base'] }}</span></p>
            <p><b>{{ "info_nb_active_campaign" | trans({}, 'SonataUserBundle')}}:&nbsp;</b><span style="color:red;">{{ info['count_campaign'] }}</span></p>
            <p><b>{{ "info_nb_base_detail" | trans({}, 'SonataUserBundle')}}:&nbsp;</b><span style="color:red;">{{ info['count_md5'] }}</span></p>
            <p><b>{{ "info_nb_matching_detail" | trans({}, 'SonataUserBundle')}}:&nbsp;</b><span style="color:red;">{{ info['count_match'] }}</span></p>
        </div>
    </div>
{% endblock %}